[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2,<3.3"
wagtail = "<2.16,>=2.15"
wagtailgmaps = "*"
django-keys = "*"

[dev-packages]

[requires]
python_version = "3.10"
