{% extends "wagtailadmin/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailadmin_tags %}
{% load static %}

{% block titletag %}User Group{% endblock %}

{% block content %}
    <h1>User Group</h1>

    <form method="post">
        {% csrf_token %}
        <label for="group_name">Group Name：</label>
        <input type="text" name="group_name" id="group_name" required>
        <button type="submit">Add Group</button>
    </form>

    <h2>Exist Group</h2>
    <ul>
        {% for group in groups %}
            <li>{{ group.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}
