{% extends "wagtailadmin/pages/create.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <form action="{% if request.is_popup %}{% url 'wagtailadmin_pages:chooser_select_link_page' %}{% else %}{% url 'wagtailadmin_pages:add' self.content_type.app_label self.content_type.model self.pk %}{% endif %}" method="post" enctype="multipart/form-data" class="page-edit-form js-page-edit-form">
        {% csrf_token %}
        {{ form.media }}
        {{ parent_page_form }}
        <div class="form-group">
            <label class="control-label" for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label class="control-label" for="{{ form.url.id_for_label }}">URL</label>
            {{ form.url }}
        </div>
        <button type="submit" class="button is-primary">Save</button>
    </form>
{% endblock %}
