.nav-link-sp {
    color: orange !important;
}

.smallheader .container .title{
    color: black; 
    font-style: normal;
}

.blog-img{
    max-height:400px;
    margin: auto;
    display: block;
}

.blog-info-row {
    font-size: larger; 
    width:800px; 
    margin: auto;  
    text-align: left; 
    text-transform: initial;
    color: black;
}

.tips{
    color: red !important;
    background-color: #F8E8EE;
    padding: 10px 0 10px 10px;
    margin-top: 1rem;
}

.blog-info-row span{
    float:right;
}

.blog-info-row span a {
    text-decoration: none;
}

.blog-content{
    color: black; 
    font-size: larger; 
    width:800px;
    margin: auto;  
    text-align: justify;
}