.nav-link-sp {
    color: rgb(0, 21, 255) !important;
}

.masthead a{
    text-decoration: none;
}

#context .text-center p{
    text-align: justify;
}

#context .text-center .hl-text {
    font-size: 1.5em;
    color:red;
}

#context .text-center .hl-link {
    color:red;
}

#map{
    width: 100%; 
    height: 600px;
}

.pf-inner-box{
    margin-bottom: 20px;
}

.pf-inner-box .title{
    text-align: center !important; 
}
.pf-inner-box a{
    color: black; 
    text-decoration: none; 
    text-transform: capitalize;
}

.pf-inner-box .title a{
    font-size: medium;
}

.pf-inner-box .content{
    text-align: justify;
}
.pf-inner-box .content a{
    font-size: small;
}

.more-link{
    text-align: center; 
    font-size: 2.3em;
}

.more-link a{
    text-decoration: none;
}